#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

input{
  width: 200px;
  margin-right: 1rem;
  
}
button{
  width: auto;
  height: auto;
  text-align: center;
}

